Problem Statement: Study employee productivity in WFH vs WFO.

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
data = pd.read_csv('WFH_WFO_dataset.csv', index_col= 'ID')

In [34]:
data.shape

(207, 18)

In [35]:
data.head()

,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
ID,,,,,,,,,,,,,,,,,,
1,Bhavana,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
2,Harry,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
3,Banditaa,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
4,Neetha,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
5,Ram,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 1 to 207
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         207 non-null    object
 1   Age                          207 non-null    int64
 2   Occupation                   207 non-null    object
 3   Gender                       207 non-null    object
 4   Same_ofiice_home_location    207 non-null    object
 5   kids                         207 non-null    object
 6   RM_save_money                207 non-null    object
 7   RM_quality_time              207 non-null    object
 8   RM_better_sleep              207 non-null    object
 9   calmer_stressed              207 non-null    object
 10  RM_professional_growth       207 non-null    int64
 11  RM_lazy                      207 non-null    int64
 12  RM_productive                207 non-null    int64
 13  digital_connect_sufficient   207 non-null    object
 14  RM_better_work_life_balance  207 non-null    int64
 15  RM_improved_skillset         207 non-null    int64
 16  RM_job_opportunities         207 non-null    object
 17  Target                       207 non-null    int64
dtypes: int64(7), object(11)
memory usage: 30.7+ KB

In [37]:
data.describe()

,Age,RM_professional_growth,RM_lazy,RM_productive,RM_better_work_life_balance,RM_improved_skillset,Target
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,29.666667,3.086957,3.101449,3.623188,3.043478,3.521739,0.405797
std,8.506993,1.089301,1.255801,0.996617,1.247539,1.004002,0.492236
min,21.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,25.000000,2.000000,2.000000,3.000000,2.000000,3.000000,0.000000
50%,26.000000,3.000000,3.000000,4.000000,3.000000,3.000000,0.000000
75%,29.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
max,57.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [38]:
data.drop_duplicates(ignore_index=True)

,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,Bhavana,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,Harry,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,Banditaa,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,Neetha,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,Ram,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Louis,28,Manager,Male,Yes,No,No,No,No,STRESSED,2,4,3,No,2,5,Not sure,0
179,Nandini,32,Engineer,Female,Yes,Yes,Yes,Yes,Yes,CALMER,4,1,5,Yes,3,3,Not sure,1
180,Matt,52,Business,Male,Yes,Yes,Yes,Yes,Yes,CALMER,4,4,4,Yes,5,3,No,1
181,Rithik,22,Marketing,Male,Yes,No,Yes,Yes,No,STRESSED,4,4,4,No,4,3,Not sure,0
182,Radha,25,Marketing,Female,No,Yes,Yes,No,No,STRESSED,5,3,5,Yes,1,3,No,0

In [39]:
data['RM_productive'].value_counts()

4    69
3    66
5    45
2    24
1     3
Name: RM_productive, dtype: int64

In [40]:
data['Occupation'].unique()

array(['Tutor', 'HR', 'Engineer', 'Recruiter', 'Business', 'Marketing ',
       'Manager'], dtype=object)

In [41]:
data['Occupation'].value_counts()

Engineer      51
Tutor         30
Manager       29
HR            26
Business      26
Marketing     26
Recruiter     19
Name: Occupation, dtype: int64

In [42]:
data['Target'].value_counts()

0    123
1     84
Name: Target, dtype: int64

In [43]:
data['calmer_stressed'].value_counts()

STRESSED    126
CALMER       81
Name: calmer_stressed, dtype: int64

In [44]:
from sklearn.preprocessing import LabelEncoder

In [56]:
features = ['Gender','Same_ofiice_home_location','kids','RM_save_money','RM_quality_time','RM_better_sleep','RM_job_opportunities','calmer_stressed']

In [46]:
encode = LabelEncoder()

In [57]:
data[features] = data[features].apply(LabelEncoder().fit_transform)

In [58]:
data.head()

,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
ID,,,,,,,,,,,,,,,,,,
1,Bhavana,45,Tutor,0,1,1,1,1,1,0,5,1,5,Yes,5,5,2,1
2,Harry,24,Tutor,1,0,0,0,0,0,0,2,2,2,No,3,3,0,1
3,Banditaa,53,HR,0,1,1,1,1,1,0,3,3,4,No,5,3,0,1
4,Neetha,26,Engineer,0,1,0,1,1,0,1,3,4,4,No,4,5,2,0
5,Ram,26,Recruiter,1,1,0,0,1,0,1,3,3,5,Yes,4,2,2,1

In [55]:
data['RM_job_opportunities'].value_counts()

Not sure    87
Yes         75
No          45
Name: RM_job_opportunities, dtype: int64

In [60]:
#data.to_csv('encoded_dataset.csv')

In [61]:
data.columns

Index(['Name', 'Age', 'Occupation', 'Gender', 'Same_ofiice_home_location',
       'kids', 'RM_save_money', 'RM_quality_time', 'RM_better_sleep',
       'calmer_stressed', 'RM_professional_growth', 'RM_lazy', 'RM_productive',
       'digital_connect_sufficient', 'RM_better_work_life_balance',
       'RM_improved_skillset', 'RM_job_opportunities', 'Target'],
      dtype='object')